extends ./layout.pug
block mainContent
  article.post(data-wio-id=post.id)
    h1.title #{post.data.titre[0].text}
    div.body
      != PrismicDOM.RichText.asHtml(post.data.contenu, ctx.linkResolver)
